*.pem
*.key
serial
**/output/**
**/logs/**
**/certs/**
main.go
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production
**/.env.local.development
**/.env.local.test
**/.env.local.production
**/node_modules/**
**/.DS_Store